/* div {
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

textarea {
    width: 20rem;
    display: block;
    margin: 4rem auto 1rem;
}

button {
    width: 8.5rem;
    margin: auto;
    padding: 1rem 0.5rem;
    font-weight: bold;
    border-radius: 1rem;
    background-color: coral;
    color: rgb(56, 55, 55);
    cursor: pointer;
} */

