h2 {
    color: coral;
    background-color: rgb(45, 43, 43);
    padding: 1rem 5rem;
    border-radius: 3rem;
}

ul {
    list-style-type: disc ;
    margin: 1rem;
}

div {
display: flex;
flex-direction: column;
}



#addTodoTaskBtn {
    width: 9rem;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 1rem;
    color: rgb(45, 43, 43);
    background-color: coral;
    font-weight: bold;
}